.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &_header {
        display: flex;
        align-items: center;
        padding: 24px 0 25px 0;
    }

    &_hero {
        text-align: center;
    }

    &_clients {
        text-align: center;
    }

    &_footer {
        display: flex;
        align-items: baseline;
    }
}